<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>Navestidlo</string>
	<key>CFBundleDisplayName</key>
	<string>Navestidlo</string>
	<key>CFBundleIdentifier</key>
	<string>cz.jan.navestidlo</string>
	<key>CFBundleVersion</key>
	<string>${APP_VERSION_STRING}</string>
	<key>CFBundleShortVersionString</key>
	<string>${APP_VERSION_STRING}</string>
	<key>CFBundleExecutable</key>
	<string>appNavestidlo</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.14</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
</dict>
</plist>
